In [137]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [138]:
joined=pd.read_csv(r'E:\Documents_internship\Carlsberg\Data\Data_Extra\Modified\JOIN_VPD_v3_csv_file.csv')
joined
# joined.head(40)

,Year,Month,Region,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Volume,Dealer Price,Dealer-Commission,VAT,W/s-Price,Activity,Invoice,Target Bonus
0,2014,Jan,Bagmati,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2055.0,2226.29,67.0,8.71,2302.0,0,0.0,-346070
1,2014,Feb,Bagmati,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2482.0,2226.29,67.0,8.71,2302.0,0,0.0,-620016
2,2014,Mar,Bagmati,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,6545.0,2226.29,67.0,8.71,2302.0,0,0.0,-1241243
3,2014,Apr,Bagmati,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,8636.0,2226.29,67.0,8.71,2302.0,-71977,0.0,-2167704
4,2014,May,Bagmati,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,8380.0,2333.29,67.0,8.71,2409.0,-1806,0.0,-3216036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27195,2019,Apr,FarWest,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,2140.00,70.8,9.20,2220.0,0,0.0,0
27196,2019,May,FarWest,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,2140.00,70.8,9.20,2220.0,0,0.0,0
27197,2019,Jun,FarWest,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,2140.00,70.8,9.20,2220.0,0,0.0,0
27198,2019,Jul,FarWest,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,2140.00,70.8,9.20,2220.0,0,0.0,0
27199,2019,Aug,FarWest,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,2140.00,70.8,9.20,2220.0,0,0.0,0

In [139]:
# unique() works only for series
joined[['Brand','Pack-Type','Pack-Size','SKU']].drop_duplicates()

                           Brand Pack-Type Pack-Size                      SKU
0                         Tuborg    Bottle    650 ml                      TUB
544                       Tuborg       CAN    500 ml                    TU500
1088              Tuborg Classic    Bottle    650 ml                     TUSM
1632                   Carlsberg    Bottle    650 ml                      CBB
2176                   Carlsberg       CAN    500 ml                    CB500
2720                  San Miguel    Bottle    650 ml                      SMB
3264                  San Miguel       CAN    500 ml                    SM500
3808               Tuborg Strong    Bottle    650 ml                      RDT
4352               Tuborg Strong       CAN    500 ml                   RDT500
4896                      Gorkha    Bottle    650 ml                      GOR
5440               Gorkha Strong    Bottle    650 ml                     GORS
5984               Gorkha Strong       CAN    500 ml                  GORS500
6528            Himalayan Dragon    Bottle    650 ml                     HIDS
7072               Haywards 5000    Bottle    650 ml        Haywards 50005000
7616              Real Gold 5000    Bottle    650 ml                   RG5000
8160             Royal Challenge    Bottle    650 ml           RoyalChallange
8704                  Orangeboom    Bottle    650 ml               Orangeboom
9248                     Leopard    Bottle    650 ml                  Leopard
9792            Nepal Ice Strong    Bottle    650 ml           NepalIceStrong
10336           Nepal Ice Strong       CAN    500 ml              NepalIce500
10880           Nepal Ice Natura    Bottle    500 ml                 NepalIce
11424           Nepal Ice Natura       CAN    500 ml           NepalIceNatura
11968             Real Gold 5000       CAN    500 ml                    RG500
12512            Real Gold 10000    Bottle    650 ml                  RG10000
13056               Golden Tiger       CAN    330 ml          GoldenTiger_Can
13600               Golden Tiger    Bottle    650 ml             Golden Tiger
14144                    Everest    Bottle    650 ml                  Everest
14688                    Everest       CAN    330 ml               EverestCan
15232                      Rhino    Bottle    650 ml                    Rhino
15776                  Kathmandu    Bottle    650 ml                Kathmandu
16320                     Cheers    Bottle    650 ml                   Cheers
16864               Mountain Ice    Bottle    650 ml             Mountain Ice
17408        Mountain Ice Strong    Bottle    650 ml      Mountain Ice Strong
17952                 Warsteiner    Bottle    330 ml            Warsteiner330
18496                 Warsteiner    Bottle    650 ml            Warsteiner650
19040    Tensberg Premium Strong    Bottle    650 ml  Tensberg Premium Strong
19584    Tensberg Premium Strong       CAN    500 ml              Tensberg500
20128         Nepal Tiger Strong    Bottle    650 ml       Nepal Tiger Strong
20672         Nepal Tiger Strong       CAN    500 ml            NepalTiger500
21216  London Ice Premium Strong    Bottle    650 ml                LondonIce
21760  London Ice Premium Strong       CAN    500 ml             LondonIce500
22304                 Arna Light    Bottle    650 ml               Arna Light
22848                 Arna Light       CAN    500 ml            Arna Light500
23392               Arna Premium    Bottle    650 ml             Arna Premium
23936                Arna Strong    Bottle    650 ml              Arna Strong
24480                Arna Strong       CAN    500 ml           Arna Strong500
25024         KingFisher Premium    Bottle    650 ml       KingFisher Premium
25568         KingFisher Premium       CAN    500 ml    KingFisher Premium500
26112          KingFisher Strong    Bottle    650 ml        KingFisher Strong
26656          KingFisher Strong       CAN    500 ml     KingFisher Strong500

In [140]:
joined.columns

Index(['Year', 'Month', 'Region', 'Brewery', 'Brand', 'Segment', 'Pack-Type',
       'Pack-Size', 'SKU', 'Volume', 'Dealer Price', 'Dealer-Commission',
       'VAT', 'W/s-Price', 'Activity', 'Invoice', 'Target Bonus'],
      dtype='object')

In [152]:
vol_disc_add= joined.groupby(['Year', 'Month','Brewery', 'Brand', 'Segment', 'Pack-Type',
       'Pack-Size', 'SKU'],sort=False)['Volume','Activity', 'Invoice', 'Target Bonus'].sum().reset_index()

In [154]:
vol_disc_add

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Volume,Activity,Invoice,Target Bonus
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,4873.0,0,-13979.0,-724387
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,6456.0,0,0.0,-1369022
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,13476.0,-593657,0.0,-2517838
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,18512.0,-2164945,0.0,-4049950
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,20980.0,-1898557,0.0,-6467781
...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,239.0,0,0.0,0
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,227.0,0,0.0,0
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,575.0,0,0.0,0
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,224.0,0,0.0,0
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,0,0.0,0

In [156]:
temp=joined.groupby(['Year', 'Month','Brewery', 'Brand', 'Segment', 'Pack-Type',
       'Pack-Size', 'SKU'],sort=False)['Dealer Price', 'Dealer-Commission',
       'VAT', 'W/s-Price'].nunique().reset_index()

In [157]:
temp

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Dealer Price,Dealer-Commission,VAT,W/s-Price
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,1,1,1,1
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,1,1,1,1
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,1,1,1,1
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,1,1,1,1
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,1,1,1,1
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,1,1,1,1
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,1,1,1,1
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,1,1,1,1
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,1,1,1,1

In [158]:
temp[temp['Dealer Price']>1]
# If a boolean is given, only that is selected

temp[temp['Dealer-Commission']>1].shape # 0 rows and 12 columns. 

(temp['VAT']>1).sum() # adds all trues and false. True= 1 and false = 0

(temp['W/s-Price']>1).sum() 
# Hence we can confirm we only have unique values in the columns.

# Shift+M means merging dfferent parts of the code

Empty DataFrame
Columns: [Year, Month, Brewery, Brand, Segment, Pack-Type, Pack-Size, SKU, Dealer Price, Dealer-Commission, VAT, W/s-Price]
Index: []

(0, 12)

0

0

In [159]:
price_same=joined.groupby(['Year', 'Month','Brewery', 'Brand', 'Segment', 'Pack-Type',
       'Pack-Size', 'SKU'],sort=False)['Dealer Price', 'Dealer-Commission',
       'VAT', 'W/s-Price'].mean().reset_index()
# first, last, mean, max, min----- Same output in this case. All data is same

In [160]:
price_same

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Dealer Price,Dealer-Commission,VAT,W/s-Price
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2226.29,67.0,8.71,2302.0
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2226.29,67.0,8.71,2302.0
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2226.29,67.0,8.71,2302.0
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2226.29,67.0,8.71,2302.0
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,2333.29,67.0,8.71,2409.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,2140.00,70.8,9.20,2220.0
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,2140.00,70.8,9.20,2220.0
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,2140.00,70.8,9.20,2220.0
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,2140.00,70.8,9.20,2220.0
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,2140.00,70.8,9.20,2220.0

In [161]:
VPD_final=pd.merge(vol_disc_add,price_same,how='left',on=['Year', 'Month','Brewery', 'Brand', 'Segment', 'Pack-Type',
       'Pack-Size', 'SKU'])

In [162]:
VPD_final

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Volume,Activity,Invoice,Target Bonus,Dealer Price,Dealer-Commission,VAT,W/s-Price
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,4873.0,0,-13979.0,-724387,2226.29,67.0,8.71,2302.0
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,6456.0,0,0.0,-1369022,2226.29,67.0,8.71,2302.0
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,13476.0,-593657,0.0,-2517838,2226.29,67.0,8.71,2302.0
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,18512.0,-2164945,0.0,-4049950,2226.29,67.0,8.71,2302.0
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,20980.0,-1898557,0.0,-6467781,2333.29,67.0,8.71,2409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,239.0,0,0.0,0,2140.00,70.8,9.20,2220.0
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,227.0,0,0.0,0,2140.00,70.8,9.20,2220.0
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,575.0,0,0.0,0,2140.00,70.8,9.20,2220.0
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,224.0,0,0.0,0,2140.00,70.8,9.20,2220.0
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,0,0.0,0,2140.00,70.8,9.20,2220.0

In [163]:
mark=pd.read_csv(r'E:\Documents_internship\Carlsberg\Data\Data_Extra\Modified\From Sharepoint\Marketing_Cider_Removed.csv')
# mark

In [164]:
mark_pivot=mark.pivot(columns='Discount Type', values='Amount')
# mark_pivot

In [165]:
mark=pd.concat([mark,mark_pivot],axis=1)
mark

,Year,Month,Region,Discount Type,SKU,Amount,Activity,Brand Marketing,Trade Marketing
0,2014,Jan,NEPAL,Activity,Tuborg,-495332,-495332.0,NaN,NaN
1,2014,Feb,NEPAL,Activity,Tuborg,0,0.0,NaN,NaN
2,2014,Mar,NEPAL,Activity,Tuborg,-320686,-320686.0,NaN,NaN
3,2014,Apr,NEPAL,Activity,Tuborg,-559596,-559596.0,NaN,NaN
4,2014,May,NEPAL,Activity,Tuborg,-183376,-183376.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1469,2019,Mar,NEPAL,Trade Marketing,Himalayan Dragon,0,NaN,NaN,0.0
1470,2019,Apr,NEPAL,Trade Marketing,Himalayan Dragon,-38000,NaN,NaN,-38000.0
1471,2019,May,NEPAL,Trade Marketing,Himalayan Dragon,0,NaN,NaN,0.0
1472,2019,Jun,NEPAL,Trade Marketing,Himalayan Dragon,0,NaN,NaN,0.0
1473,2019,Jul,NEPAL,Trade Marketing,Himalayan Dragon,-4748,NaN,NaN,-4748.0

In [166]:
mark.drop(['Discount Type','Amount'],axis=1,inplace=True)

In [167]:
mark.rename(columns = {'Activity':'Activity_Marketing','SKU':'Brand'},inplace=True) 
# Always use underscore
#Avoid whitespaces

In [168]:
mark.head(3)

,Year,Month,Region,Brand,Activity_Marketing,Brand Marketing,Trade Marketing
0,2014,Jan,NEPAL,Tuborg,-495332.0,NaN,NaN
1,2014,Feb,NEPAL,Tuborg,0.0,NaN,NaN
2,2014,Mar,NEPAL,Tuborg,-320686.0,NaN,NaN

In [169]:
mark.columns

Index(['Year', 'Month', 'Region', 'Brand', 'Activity_Marketing',
       'Brand Marketing', 'Trade Marketing'],
      dtype='object')

In [170]:
mark_temp=mark.groupby(['Year', 'Month','Brand'],sort=False)['Activity_Marketing',
       'Brand Marketing', 'Trade Marketing'].sum().reset_index()

In [171]:
mark_temp

,Year,Month,Brand,Activity_Marketing,Brand Marketing,Trade Marketing
0,2014,Jan,Tuborg,-495332.0,-6914646.0,-3594416.0
1,2014,Feb,Tuborg,0.0,-10986162.0,-1849918.0
2,2014,Mar,Tuborg,-320686.0,-7230479.0,-9395052.0
3,2014,Apr,Tuborg,-559596.0,-4494227.0,-2411557.0
4,2014,May,Tuborg,-183376.0,-5672578.0,-1138332.0
...,...,...,...,...,...,...
531,2019,Mar,Himalayan Dragon,0.0,0.0,0.0
532,2019,Apr,Himalayan Dragon,0.0,0.0,-38000.0
533,2019,May,Himalayan Dragon,0.0,0.0,0.0
534,2019,Jun,Himalayan Dragon,0.0,0.0,0.0
535,2019,Jul,Himalayan Dragon,0.0,0.0,-4748.0

In [188]:
VPDM=pd.merge(VPD_final,mark_temp, how= 'left', on=['Year', 'Month','Brand'])

In [189]:
VPDM

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Volume,Activity,Invoice,Target Bonus,Dealer Price,Dealer-Commission,VAT,W/s-Price,Activity_Marketing,Brand Marketing,Trade Marketing
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,4873.0,0,-13979.0,-724387,2226.29,67.0,8.71,2302.0,-495332.0,-6914646.0,-3594416.0
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,6456.0,0,0.0,-1369022,2226.29,67.0,8.71,2302.0,0.0,-10986162.0,-1849918.0
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,13476.0,-593657,0.0,-2517838,2226.29,67.0,8.71,2302.0,-320686.0,-7230479.0,-9395052.0
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,18512.0,-2164945,0.0,-4049950,2226.29,67.0,8.71,2302.0,-559596.0,-4494227.0,-2411557.0
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,20980.0,-1898557,0.0,-6467781,2333.29,67.0,8.71,2409.0,-183376.0,-5672578.0,-1138332.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,239.0,0,0.0,0,2140.00,70.8,9.20,2220.0,NaN,NaN,NaN
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,227.0,0,0.0,0,2140.00,70.8,9.20,2220.0,NaN,NaN,NaN
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,575.0,0,0.0,0,2140.00,70.8,9.20,2220.0,NaN,NaN,NaN
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,224.0,0,0.0,0,2140.00,70.8,9.20,2220.0,NaN,NaN,NaN
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,0,0.0,0,2140.00,70.8,9.20,2220.0,NaN,NaN,NaN

In [190]:
VPDM=VPDM.fillna(0)

In [191]:
VPDM

,Year,Month,Brewery,Brand,Segment,Pack-Type,Pack-Size,SKU,Volume,Activity,Invoice,Target Bonus,Dealer Price,Dealer-Commission,VAT,W/s-Price,Activity_Marketing,Brand Marketing,Trade Marketing
0,2014,Jan,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,4873.0,0,-13979.0,-724387,2226.29,67.0,8.71,2302.0,-495332.0,-6914646.0,-3594416.0
1,2014,Feb,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,6456.0,0,0.0,-1369022,2226.29,67.0,8.71,2302.0,0.0,-10986162.0,-1849918.0
2,2014,Mar,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,13476.0,-593657,0.0,-2517838,2226.29,67.0,8.71,2302.0,-320686.0,-7230479.0,-9395052.0
3,2014,Apr,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,18512.0,-2164945,0.0,-4049950,2226.29,67.0,8.71,2302.0,-559596.0,-4494227.0,-2411557.0
4,2014,May,GBPL,Tuborg,U Mainstream,Bottle,650 ml,TUB,20980.0,-1898557,0.0,-6467781,2333.29,67.0,8.71,2409.0,-183376.0,-5672578.0,-1138332.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019,Apr,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,239.0,0,0.0,0,2140.00,70.8,9.20,2220.0,0.0,0.0,0.0
3396,2019,May,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,227.0,0,0.0,0,2140.00,70.8,9.20,2220.0,0.0,0.0,0.0
3397,2019,Jun,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,575.0,0,0.0,0,2140.00,70.8,9.20,2220.0,0.0,0.0,0.0
3398,2019,Jul,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,224.0,0,0.0,0,2140.00,70.8,9.20,2220.0,0.0,0.0,0.0
3399,2019,Aug,YBPL,KingFisher Strong,L Mainstream,CAN,500 ml,KingFisher Strong500,0.0,0,0.0,0,2140.00,70.8,9.20,2220.0,0.0,0.0,0.0

In [199]:
VPDM.to_csv('Join_VPDM.csv', index = False)